.container{
	width: 1088px;
	margin: 0 auto;
}
.left-block{
	width: 536px;
	height: 190px;
	display: inline-block;
	margin-right: 16px;
	background: #F8F8F8;
}
.right-block{
	width: 536px;
	height: 190px;
	display: inline-block;
	background: #BE2B2B;
}
.text-block{
	display: inline-block;
	width: 260px;
	vertical-align: middle;

}
.image-block{
	display: inline-block;
	vertical-align: middle;
}
.name{
	color: #5863F8;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
.discription{
	color: #000000;
	font-size: 42px;
	font-family: 'Poppins', sans-serif;
	width: 422px;
	margin-bottom: 43px;
}
.title{
	font-size: 14px;
	color: #5863F8;
}
.title1{
	font-size: 18px;
	color: #000000;
}
.text{
   font-size: 14px;
   color: #B1B1B1;
}
.container2{
	width: 1088px;
	margin: 0 auto;
}
.block3{
	width: 352px;
	height: 360px;
	display: inline-block;
	background: #F8F8F8;
	margin-right: 12px;
}
.block4{	
	width: 352px;
	height: 360px;
	display: inline-block;
	background: #F8F8F8;
	margin-right: 12px;
}
.block5{
	width: 352px;
	height: 360px;
	display: inline-block;
	background: #F8F8F8;
}
.text-block1{
	width: 260px;
	display: inline-block;
	vertical-align: center;
	
}
.image-block1{
	display: inline-block;
	vertical-align: middle;
	width: 352px;
	height: 212px;
}
.title2{
	font-size: 14px;
	color: #5863F8;
	padding-bottom: 6px;
	padding-left: 124px;
	padding-top: 10px;
	vertical-align: middle;
}
.title3{
   font-size: 18px;
   color: #000000;
   padding-bottom: 11px;
   padding-left: 79px;
   vertical-align: middle;
}
.text1{
   font-size: 14px;
   color: #B1B1B1;
   vertical-align:middle;
   padding-left: 46px;
}
.name1{
  margin-top: 102px;
  font-size: 14px;
  color: #5863F8;
  font-family: 'Poppins';
}
.discription1{
     margin-bottom: 81px;
     font-size: 42px;
     color: #000000;
       font-family: 'Poppins';
       width: 404px;
}